h1 {
  font-size: 35px;
}
body {
  margin-top: 50px;
  font-family: "Raleway", sans-serif;
}
.card {
  background: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
  display: block;
  margin: 0 auto;
  border: 0px;
}
.search-button {
  border: none;
  border-radius: 10%;
  background: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
}
.col-7 {
  padding-right: 0px;
}
.fully-sunny {
  font-size: 80px;
}
.card-body {
  color: #4d4d4d;
  padding: 50px;
}
.col-2 {
  text-align: center;
  padding-right: 0px;
  padding-left: 0px;
}
.sky {
  text-align: center;
  font-size: 30px;
  padding-right: 0px;
  padding-left: 0px;
}
.degrees {
  text-align: center;
  padding-right: 0px;
  padding-left: 0px;
  font-size: 14px;
}
.col-3 {
  font-size: 14px;
}
.stockholm {
  text-align: center;
}
.riga {
  text-align: center;
}
.weekday {
  font-size: 14px;
}
.open-source {
  font-size: 10px;
  margin-left: 722px;
  line-height: 20px;
}

.weather-temperature .active {
  color: rgb(33, 33, 33);
  cursor: default;
}

.weather-temperature .active:hover {
  text-decoration: none;
}
